h4 {
    color: black;
    font-family: "Arial";
    font-size: 3em;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: animtext 6s steps(80, end) infinite; /* Extended the duration to include delay */
    transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
    text-shadow: 3px 3px 6px rgba(131, 122, 122, 0.4);
}
.main{
    text-shadow: 3px 3px 6px rgba(59, 56, 56, 0.4);
}


.zoom-hover {
    transition: transform 0.3s ease-in-out;
}

.zoom-hover:hover {
    transform: scale(1.02); /* Adjust the scale factor as needed */
}
 .carousel-image {
            height: 450px;
            width: 300px;
            object-fit: cover;
}
.cont {
    position: relative;
    text-align: right;
    color: white;
  }
  .bottom-right {
    position: absolute;
    bottom: 200px;
    right: 50px;
  }
  .bottom-right2 {
    position: absolute;
    bottom: 100px;
    right: 50px;
  }
  